
nav{
    background-color: $dark-blue-background-color;
    bottom: 0;
    position: fixed;
    left: 50%;               
    transform: translateX(-50%); 
    width: 85%;
    @include border-radius(2px,$white-color,3.125rem);
    margin-bottom: 1.5rem;
    z-index: 22;
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        margin: 0;
        li{
            list-style-type: none;
            margin: 0;
            a{
                font-family: 500;
            }
        }
    }
}


@media (min-width:64em) {
    nav{
        width: 50%;
    }
}
