body {
    margin: 0;
    background-color: rgb(32,38,50);
    // height: 200vh; // ensure there's enough scrollable content
    a{
      text-decoration: none;
      color: $white-color;
    }
    h1{
      font-size: 2.5rem;
    }
  }
  #top-left-icon {
    position: fixed;
    background-color: green;
    top: 20px;
    left: 20px;
    width: 80px;  /* Adjust the size as needed */
    height: auto;
    z-index: 1000; /* Ensure it stays on top */
  }
  main {
    min-height: 100vh; // help is there a better way than vh cause is base on how many works i have
    // background-color: rgb(32,38,50);
    background: linear-gradient(180deg,rgb(32,38,50) 25%, rgba(102,117,151,1) 60%);
    transition: all 1s ease;
    // rgb(32,38,50)
    color: white;
    font-size: 1.5rem;
    background-size: 100% 180%;
    padding-bottom: 4rem;
  
    h1, p {
      text-align: center;
    }
  }
  @media (min-width: 1024px) {
    main{
      // height: 250vh;
    }
  }

  

  