#title{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        margin: 0;
        align-items: center;
        text-align: center;
        z-index: 3;
    }   
}

@media(min-width: 48rem){
    #title{
        h1{
            font-size: $tablet-h1-font;
          }
    }
}