#title{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        margin: 0;
        align-items: center;
        text-align: center;
        z-index: 3;
    }   
    span{
        display: inline-block;
    }
    .scrollDown-container{
        position: absolute;
        bottom: 10rem;
        img{
            width: 1.875rem;
        }
    } 
}

@media(min-width: 48rem){
    #title{
        h1{
            font-size: $tablet-h1-font;
          }
          .scrollDown-container{
            bottom: 6rem;
           
        } 
    }
}