// moblie 
.home-posts-section,.work-page-section,.up-next{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    // height: 100vh;
    align-items: center;
    margin: 2rem 0;
    .home-posts,.work-page, .up-next-card{
        background-color: $light-blue-background-color;
        position: relative;
        border-radius: 50px;
        width: 15.625rem; // is good
        // margin: 0 auto;
        border: 1.5px solid $white-color;
        a{
            text-decoration: none;
        }
        #featuredImg{
            width: 100%;
        }
        h2{
            font-size: 1.6em;
        }
        h3,p{
            color: $white-color;
            margin: 0;
            text-align: center;
        }
        #more-details-button::after{
            margin-left: 0.5rem;
            content: "→";
        }
        #more-details-button{
            padding: 1rem 0;
            font-size: 1rem;
            margin-right: 2rem;
            text-align: right;
        }
    }
}


.work-page{
    background-color: $dark-blue-background-color;
    p{
        padding: 1.2rem;
        font-size: 1rem;
    }
}

@media (min-width: 48em) {
.home-posts{
    margin: 0;
 }

.home-posts-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    // width: 70%;
    // margin: 0 auto;
 } 
}