.loading-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 100vh;    
    img{
        height: 6.25rem;
        width: 6.25rem;
    }       /* Full viewport height to center vertically */
}