footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  position: relative;
  #copyright {
    text-align: center;
    color: $white-color;
  }
  .social-media {
    z-index: 1;
    position: fixed;
    top: 2rem;
    right: 0;
    display: flex;
    flex-direction: column; //which one
    align-items: center;
    background-color: $dark-blue-background-color;
    padding: 0.5rem 0.25rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 2px 15px 8px #c7deff50;
    a {
      padding: 0.5rem;
      &:hover {
        font-family: 500;
      }
      &:after {
        content: "";
        position: absolute;
        margin: 0;
        width: 0;
        height: 3px;
        display: block;
        // margin-top: 0.125rem;
        right: 0;
        left: 0;
        margin: 0.125rem auto 0;
        background: $secondary-color;
        transition: all 0.3s ease;
      }
      &:hover::after {
        width: 1.25rem; // Full underline width on hover
      }
    }
    svg {
      //   margin-bottom: 1rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

@media (min-width: 48rem) {
  footer {
    margin-bottom: 5rem;
    .social-media {
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
