
.single-page {
    padding: 0 1rem;
    #featuredImg {
      width: 100%;
    }
    h1 {
      margin: 0;
      padding: 2rem 0;
    }
    h2 {
      font-size: $moblie-h2-font;
      margin: 1.5rem 0;
    }
    p {
      font-size: $moblie-p-font;
    }
  
    .video-div {
      margin: 0;
      video {
        aspect-ratio: 16/10;
        width: 100%;
        position: relative;
      }
    }
  
    .projectOverview{
      .group-inner-content{
        background-color: $light-blue-background-color;
      }
      .buttons{
        display: flex;
        justify-content: space-evenly;
        margin: 2.5rem 0;
        a{
          @include border-radius(2px,$white-color,3.125rem);
          font-size:$moblie-p-font;
          padding: 0.1rem 1.5rem;
          background-color: $white-color;
          color: $black-color;
        }
      }

    }
}
.projectSummary {
  padding: 0 2rem;
  margin: 2rem 0;

  h2 {
    font-size: $moblie-h2-font;
    text-align: center;
  }

  .description-text {
    display: block;
    // padding-left: 2rem;
    margin-top: 1rem;
  }
}

#up-next-title {
  text-align: center;
}

#up-next {
  h3 {
    color: $white-color;
  }
}

@media (min-width: 1024px) {
  .single-page {
    // padding: 2rem 4rem;

    #mobile-h1 {
      display: none;
    }

    .projectOverview {
      display: flex;
      flex-direction: row-reverse;
      padding-top: 7rem; 
      justify-content: space-around;
      align-items: center;
      .video-div { 
        width: 50%;
        display: flex;
        justify-content: center;
        video {
          max-width: 54.6875rem; 
        }
      }
      .group-content {
        width: 40%;
        margin-left: 4rem;
        p {
          text-align: left;
        }
        h1 {
          display: block;
          text-align: left;
          padding: 0;
        }
        .buttons {
          justify-content: flex-end;
          a {
            margin-left: 2rem;
          }
        }
      }
    }

  }

  #projectSummary-div {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    .projectSummary {
      padding: 0 1.2rem;
      width: 33%;
      margin: 0 2rem;
      h2 {
        text-align: left;
        font-size: 2.5rem;
      }
      dd {
        font-size: 1rem;
      }
    }
  }
}

@media(min-width: 48rem){
  h2 {
    font-size: $tablet-h2-font;
  }

}

