#work {
  position: relative;
  h1 {
    padding: 2rem 0;
    margin: 0;
  }
}

@media (min-width:43.75rem) {
  .work-page-section {
    flex-direction: column;
    .work-page {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 20rem;
      width: 70%;
      max-width: 55rem; //fix
      margin: 0 auto;

      a {
        text-align: center;
      }
      #featuredImg,
      .work-page-content {
        width: 50%;
      }
    }
  }
  .work-page:nth-child(odd) {
    flex-direction: row-reverse;

    img {
      margin-right: 0; // Remove right margin
    }
  }
}

@media (min-width:78.125rem){
  .work-page-section {
    .work-page {
      
      #featuredImg{
        width: 25rem;
      }
    }
  }
} 

@media (min-width:81.25rem){
  .work-page-section {
    .work-page {
      #featuredImg{
        width: 26rem;
      }
    }
  }
  
} 