#work {
  position: relative;
  h1 {
    padding: 2rem 0;
    margin: 0;
  }
}

@media (min-width:48em) {
  .work-page-section {
    flex-direction: column;
    .work-page {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 20rem;
      width: 70%;
      max-width: 55rem; //fix
      margin: 0 auto;

      a {
        text-align: center;
      }
      #featuredImg,
      .work-page-content {
        width: 50%;
      }
    }
  }
  .work-page:nth-child(even) {
    flex-direction: row-reverse;

    img {
      margin-right: 0; // Remove right margin
    }
  }
}