header{
    background-color: $light-blue-background-color;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 22;
    ul{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem 0;
        margin: 0;
        li{
            list-style-type: none;
            margin: 0;
            a{
                font-family: 500;
            }
        }
    }
}