// moblie 
#home-posts{
    background-color: $light-blue-background-color;
    position: relative;
    border-radius: 50px;
    width: 18.75rem;
    margin: 0 auto;
    a{
        text-decoration: none;
    }
    h2{
        font-size: 1.6em;
    }
    h2,p{
        color: $white-color;
        margin: 0;
        text-align: center;
    }
    p::after{
        margin-left: 0.5rem;
        content: "→";
    }
    p{
        padding: 1rem 0;
        font-size: 1rem;
        margin-right: 2rem;
        text-align: right;
    }
}